<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">© 2024.EscapeHub by
            <a href="/eddymavportfolio.vercel.app"></a> EddyMavDigital.</span
    </div>
</footer>