<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"
      crossorigin
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css"
      rel="stylesheet"
      crossorigin
    />

    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@1/dist/tinymce-jquery.min.js"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
      <%- include('../partials/flash')%> <%- body %>
    </main>
    <%- include('../partials/footer')%>
    <script>
      $('textarea#description').tinymce({
          height: 500,
          menubar: false,
          plugins: [
              'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
              'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
              'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
          ],
          toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist checklist outdent indent | removeformat | code table help'
      });

      tinymce.init({
          selector: 'textarea#image-tools',
          height: 500,
          plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste imagetools wordcount'
          ],
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
      });


      images_upload_handler: function(blobInfo, success, failure) {
          var xhr, formData;

          xhr = new XMLHttpRequest();
          xhr.withCredentials = false;

          //restricted it to image only using resource_type = image in url, you can set it to auto for all types

          xhr.open('POST', 'https://api.cloudinary.com/v1_1/oakdigitalstudio/image/upload');

          xhr.onload = function() {

              if (xhr.readyState == 4 && xhr.status == 200) {
                  var response = JSON.parse(xhr.responseText);
                  var url = response.secure_url; //get the url
                  var json = {
                      location: url
                  }; //set it in the format tinyMCE wants it
                  success(json.location);
              }
          };

          formData = new FormData();
          formData.append('file', blobInfo.blob(), blobInfo.filename());
          formData.append('upload_preset', '<YourUnsignedUploadPreset>');

          xhr.send(formData);
      }

      tinymce.init({
          selector: 'textarea', // change this value according to your HTML
          images_upload_handler: image_upload_handler
      });




      function example_image_upload_handler(blobInfo, success, failure, progress) {
          var xhr, formData;

          xhr = new XMLHttpRequest();
          xhr.withCredentials = false;
          xhr.open('POST', 'postAcceptor.php');

          xhr.upload.onprogress = function(e) {
              progress(e.loaded / e.total * 100);
          };

          xhr.onload = function() {
              var json;

              if (xhr.status === 403) {
                  failure('HTTP Error: ' + xhr.status, {
                      remove: true
                  });
                  return;
              }

              if (xhr.status < 200 || xhr.status >= 300) {
                  failure('HTTP Error: ' + xhr.status);
                  return;
              }

              json = JSON.parse(xhr.responseText);

              if (!json || typeof json.location != 'string') {
                  failure('Invalid JSON: ' + xhr.responseText);
                  return;
              }

              success(json.location);
          };

          xhr.onerror = function() {
              failure('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
          };

          formData = new FormData();
          formData.append('file', blobInfo.blob(), blobInfo.filename());

          xhr.send(formData);
      };

      tinymce.init({
          selector: 'textarea', // change this value according to your HTML
          images_upload_handler: example_image_upload_handler
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
